@page "/Overtime"
<h3 class="ui header blue">All Recorded Overtime</h3>


<table class="ui table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Overtime Start</th>
            <th>Overtime End</th>
            <th>Holiday</th>
            <th>Hourly Rate</th>
            <th>Work Order #</th>
            <th>Reason</th>
            <th>Department</th>
        </tr>
    </thead>
</table>
