@page "/"
<h3 class="ui header blue">Overtime Cop</h3>
<div class="ui segment">

    <p><a>Overtime Cop</a>. Get Started with Overtime, Calculate Overtime for Employees</p>

    <div class="ui text container center aligned">
        <a href="/Employees" class="ui button primary" onclick="$(this).addClass('loading')">View Employees</a>
    </div>
</div>
