@page "/Departments"
<h3 class="ui header blue">All Departments</h3>


<table class="ui table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Department</th>
        </tr>
    </thead>
</table>
