<div class="ui icon message positive">
    <i class="notched circle loading icon"></i>
    <div class="content">
        <div class="header">
            @LoadingTitle
        </div>
        <p>@LoadingMessage</p>
    </div>
</div>
@code {

    [Parameter]
    public string LoadingTitle { get; set; } = "Just one second";
    [Parameter]
    public string LoadingMessage { get; set; } = "We're fetching that content for you.";

}
