@inherits LayoutComponentBase

<div class="ui container" style="margin:30px">

    <div class="ui primary bottom pointing blue menu">
        <NavMenu />
        <LoginDisplay />
    </div>
    <div class="ui container">
        @Body
    </div>
</div>

