@page "/Employees"
<h3 class="ui header blue">All Employees</h3>


<table class="ui table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Person No</th>
            <th>Hourly Rate</th>
            <th>Department</th>
        </tr>
    </thead>
</table>
